* {
  padding: 0px;
  margin: 0px;
}

html {
  min-height: 100%;
  position: relative;
}

.img-logo-white {
  width: 85%;
  margin-top: 20%;
}

.container-div-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.styleBodyBlack {
  background-color: white;
}

body {
  background-color: rgba(0, 0, 0, 0.79);
}

#container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.input-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}
#email,
#password {
  border-radius: 25px;
  border: solid 1px;
  width: 320px;
  height: 45px;
  margin-top: 10%;
}
#errorMessageLogin{
  margin-top: 5%;
  font-size: 20px;
  font-weight: bolder;
  font-family: 'Roboto';
  color:red;
}
.div-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}
.div-login p{
font-size: 23px;
margin-top: 10%;
font-family: 'Roboto';
}
#btn-login{
  cursor: pointer;
  height: 45px;
    width: 250px;
    border-radius: 20px;
    font-family:'Righteous';
    font-size: 25px;
    background-color:rgb(0,255,171);
    border: none;
}
#btn-login:hover{
  /* background-color:rgb(0,255,171); */
  box-shadow: 2px 4px 4px 4px #6f7274;
}

#btn-google-login{
border: none;
background-color: transparent;
width: 100px;
margin-top: 10%;
cursor: pointer;
}
#img-google{
  width: 50px;
}
#link-register{
  color: rgb(255, 0, 212);
}