* {
  padding: 0px;
  margin: 0px;
}

html {
  min-height: 100%;
}
#container {           /*contenedor general (contiene todas las pantallas*/
  justify-content: center;
  height: 100vh;
}

.img-logo-white { /*Logos*/
  width: 85%;
  margin-top: 20%;
}

.container-div-login { /*contenedor padre de la seccion login*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-login { /*contenedor padre de los input de login*/
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}
#email,
#password {  /*input de login*/
  border-radius: 25px;
  border: solid 2px;
  width: 320px;
  height: 45px;
  margin-top: 10%;
  outline: none;
  text-align: center;
  font-size: large;
  font-family:'Roboto', sans-serif;
  font-weight: bolder;
  color: rgb(0, 0, 0);
 
}
#errorMessageLogin{ /*contenedor mensaje de error de login*/
  margin-top: 3%;
  font-size: 20px;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
  color:red;
}
.div-login {  /*contenedor de boton, parrafos y logo google login*/
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}
.div-login p{ 
font-size: 23px;
margin-top: 10%;
font-family: 'Roboto', sans-serif;
}
#btn-login{ /*botones de logueo y registro*/
  cursor: pointer;
  height: 45px;
  width: 250px;
  border-radius: 20px;
  font-family:'Righteous', cursive;
  font-size: 25px;
  background-color:rgb(0,255,171);
  border: none;
  outline: none;
  color: #333;
}
#btn-login:hover{
  box-shadow: 2px 4px 4px 4px #6f7274;
}

.btn-google{  /*boton contenedor del logo de google para logueo y registro*/
border: none;
background-color: transparent;
width: 100px;
margin-top: 10%;
cursor: pointer;
}

#img-google{  /*imagen de google*/
  width: 50px;
}

#link-register{ /*etiqueta <a> con el link de resgister en pantalla login*/
  color: rgb(255, 0, 212);
}

.container-div-register { /*contenedor padre de la seccion register*/
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(58, 57, 57);
  padding-bottom: 2%;
  height: 100vh;
}

.input-register { /*contenedor padre de los input de register*/
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7%
}
#name-register,
#email-register,
#password-register {  /*input de register*/
  border-radius: 25px;
  border: solid 2px white;
  width: 320px;
  height: 45px;
  margin-top: 7%;
  background-color: transparent;
  outline: none;
  text-align: center;
  font-size: large;
  font-family:'Roboto', sans-serif;
  font-weight: bolder;
  color: aliceblue;
}

#errorMessageRegister{ /*contenedor mensaje de error register*/
  margin-top: 7%;
  font-size: 15px;
  font-family: 'Roboto', sans-serif; 
  color: rgb(255, 208, 0); 
  width: 280px;
  text-align: center;
  letter-spacing: 2px;
  
}
.div-register{  /*contenedor de boton, parrafos y logo google register*/
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  
}

.div-register p{ 
font-size: 22px;
margin-top: 7%;
font-family: 'Roboto', sans-serif;
color: white;
}

#btn-register{ /*botones de logueo y registro*/
  cursor: pointer;
  height: 45px;
  width: 250px;
  border-radius: 20px;
  font-family:'Righteous', cursive;
  font-size: 25px;
 background-color:rgb(0,255,171);
 border: none;
 outline: none;
 color: #333;
}
#btn-register:hover{

  box-shadow: 4px 6px 4px 6px #1f1e1eef, 0 4px 0 8px #3b3b3bef;
}

#link-login{ /*etiqueta <a> con el link de login en pantalla register*/
  color: rgb(255, 238, 0);
}

#modalContent {
height: 240px;
width: 310px;
background-color: rgba(185, 180, 180, 0.900);
position: fixed;
border-radius: 20px;
display: none;
flex-direction: column;
align-items: center;
}

#textModal {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  color: #333;
  margin-top: 40px;

}

.img-check {
  width: 100px;
  margin-top: 15px;
}

#modal-background-post{
  height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 4;
    background-color: rgba(63, 63, 63, 0.664);
    display: none;
    align-items: center;
    justify-content: center;
}

#modal-content-post {
  width: 90%;
  height: auto;
  background-color: rgb(255, 255, 255);
  position: fixed;
  border-radius: 20px;
  display: none;
  align-items: center;
  flex-direction: column;
  top: 80px;
}
#after-line{
padding: 5%;
display: flex;
flex-direction: column;
}
#input-post{
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  height: 150px;
  margin-top: 5%;
  font-size: 15px;
  font-family: 'Roboto';
}
  #img-modal-post{
  width: 50px;
  height: 50px;
}
.img-like{
  width: 30px;
}
#container-selects {
  position: absolute;
  width: 20%;
  top: 20px;
  right: 5%;
  display: flex;
  justify-content: space-around;
}
.img-edit, .img-delete {
  width: 24px;
}
#container-modal-delete{
  height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 4;
    background-color: rgba(63, 63, 63, 0.664);
    display: none;
    align-items: center;
    justify-content: center;
}
#modal-content-delete {
  height: 150px;
  width: 80%;
  border: 2px solid green;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  position: fixed;
  display: none;
  transform: translateY(-50%);
  top: 50%;
  z-index: 4;
  padding: 5%;
}
#container-img-exit{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  border: 2px solid blue;
}
#div-home{
  background-color: rgb(247,247,247);
}
#hder{
  background-color: rgb(53,52,52);
  height: 50px;
  width: 100%;
  position: fixed;
  display: inline-flex;
 justify-content: space-around;
 z-index: 1;
}
#logo-hder{
  width: 40%;
 
}
.container-images{
  width: 30%;
 margin-top: 7px;
 display:flex;
 justify-content: space-around;
}
#img-home, #img-profile{
  width: 35px;
 height: 35px;
}
#container-posts{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#container-btn-input{
  border-radius: 10px;
  margin-top: 80px;
  height: 100px;
  width: 90%;
  background-color: white;
  box-shadow: 1px 2px 4px rgb(155, 154, 154);
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}
#img-input{
  width: 60px;
  height: 60px;
}
#btn-input-modal{
  border: none;
  background-color: rgba(236, 236, 236, 0.925);
  border-radius: 20px;
  height: 40px;
  width: 78%;
  cursor: pointer;
  font-family: 'Roboto';
  font-weight: bold;
  color: rgb(146, 145, 145);
  text-align:left;
  padding-left: 15px;
}
#btn-input-modal:hover{
  background-color: rgba(218, 218, 218, 0.925);
}
#div-post{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
#space-line{
  display: inline-flex;
  font-family: 'Roboto';
  font-weight: bold;
  width: 100%;
  width: 85%;
    align-items: center;
    justify-content: space-between;
    padding: 7px 20px 7px 20px;
}
.btn-exit{
  width: 30px;
}
#line{
  border-top: 1.5px solid rgb(95, 95, 95);
  height: 2px;
  padding: 0;
}
.card-post{
  border-radius: 10px;
  margin-top: 30px;
  height: auto;
  width: 80%;
  background-color: white;
  box-shadow: 1px 2px 4px rgb(155, 154, 154);
  padding: 5%;
  font-family: 'Roboto';
  position: relative;
}

#container-likes {
  width: 20%;
  display: inline-flex;
  align-items: flex-end;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  float: right;
}
#img-post{
  width: 50px;
  height: 50px;
}
#container-user-data{
  display: inline-flex;
}
#user-name {
font-weight: bold;
color: #333;
}
#date{
  color: rgb(134, 133, 133);
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
}
#description-post{
  padding: 5%;
  word-break: break-all;
}

#container-data{
  margin: 8px 0 0 10px;
  
}
.btn-green{
  color: aqua;
}

#btn-post{
  margin-top: 5%;
  cursor: pointer;
  height: 30px;
  width: 100%;
  border-radius: 10px;
  font-family: 'Righteous', cursive;
  font-size: 20px;
  background-color: rgb(0,255,171);
  border: none;
  outline: none;
  color: #333;
  box-shadow: 2px 4px 4px 4px #6f7274;
}
#btn-post :disabled,
#btn-post[disabled]{
  margin-top: 5%;
  cursor: pointer;
  height: 30px;
  width: 100%;
  border-radius: 10px;
  font-family: 'Righteous', cursive;
  font-size: 20px;
  background-color: rgb(185, 185, 184);
  border: none;
  outline: none;
  color: rgb(133, 131, 131);
  box-shadow: 0px 0px 0px 0px #6f7274;
}

#container-img-text{
  
  display: flex;
  align-items: center;
  width: 90%;
}

#container-text p{
  margin-left: 5%;
  font-family: 'Roboto';
  font-weight: bold;
  color: #333;
  width: 100%;
}
#main-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#container-user-profile{
  margin-top: 80px;
  height: 100px;
  width: 90%;
  border: 2px solid green;
}
#img-user-profile {
  width: 60px;
}

@media only screen and (min-width: 620px) and (max-width: 900px) {
  .img-logo-white { /*Logos*/
    width: 67%;
    margin-top:9%;
  }
  .input-login { /*contenedor padre de los input de login*/
    margin-top: 5%;
  }
  #email,
  #password {  /*input de login*/
    width: 370px;
    height: 50px;
    margin-top: 10%;
  }
  .div-login {  /*contenedor de boton, parrafos y logo google login*/
    margin-top: 5%;
  }
  .div-login p{ 
    font-size: 29px;
}
}
@media only screen and (min-width: 901px) and (max-width: 1350px) {
  .img-logo-white { /*Logos*/
    width: 50%;
    margin-top:10%;
  }
    .div-login {  /*contenedor de boton, parrafos y logo google login*/
      margin-top: 2%;
    }
    #email,
    #password {  /*input de login*/
      width: 390px;
      height: 50px;
    }
    .div-login p{ 
      margin-top: 10%;
        font-size: 35px;
    }
    #btn-login{ /*botones de logueo y registro*/
      height: 50px;
      width: 270px;
      font-size: 28px;
    }
}